body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

main {
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.incBtn {
  background-color: #65C466;
}

.incBtn:hover {
  background-color: #49bc4b ;
}

.resetBtn {
  background-color: #F2CA44;
}

.resetBtn:hover {
  background-color: #d9af25 ;
}

.decBtn {
  background-color: #EC6765;
}

.decBtn:hover {
  background-color: #d22826;
}

footer {
  text-align: center;
  margin-top: 20px;
}

h1, h2 {
  margin: 0;
}

h2 {
  font-size: 48px;
  margin: 20px 0;
}