* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

header {
  text-align: center;
}

.main {
  padding: 20px;
  text-align: center;
}

.main button {
  border: none ;
  border-radius: 12px;
  padding: 10px;
  font-size: larger;
  margin: 10px;
}

.main p {
  display: block;
  font-size: 10rem;
  font-family: 'Courier New', Courier, monospace;
}

.decBtn:hover {
  transform: translateY(1px);
  background-color: #ff4d4d;
  color: white;
}

.resetBtn:hover {
  transform: translateY(1px);
  background-color: #444444;
  color: rgb(255, 255, 255);
}

.incBtn:hover {
  transform: translateY(1px);
  background-color: #00ff7f ;
  color: white;
}